<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title>StreetEasy</title>
    <meta name="description" content="Rental comparisons">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <h1 class="title"><%= @title %></h1>
    <ul class="listing-list">
      <% @listings.each do |listing| %>
      <li>
        <article class="listing-item">
          <figure>
            <img src="/images/listing_img.png" alt="listing thumbnail">
          </figure>
          <div class="listing-details">
            <h2><%= listing[:address] %></h2>
            <p><%= listing[:location] %></p>
          </div>
          <button class="add-btn">
            <div class="add-btn-ellipse"></div>
            <div class="add-btn-bg">
              ADD
            </div>
          </button>
        </article>
      </li>
      <% end %>
    </ul>
    <div class="nav-cart">
      <a id="cart" href="">
        <div class="cart-count">1</div>
      </a>
    </div>
  </body>
</html>