@import 'reboot';

// Breakpoints --------------------/
$sm: 430px;
$md: 880px;

// Colors --------------------/
$black:       #000000;
$gray-55:     #8C8C8C;
$gray-63:     #A1A1A1;
$gray-85:     #D8D8D8;
$gray-96:     #F6F6F6;
$action-blue: #0080C6;
$aqua:        #4BDDC2;
$white:       #FFFFFF;

// Fonts ---------------------/
$font-family-sans:  'Source Sans Pro', sans-serif;
$line-height:       1.15;


body {
  color: $black;
  font-family: $font-family-sans;
  line-height: $line-height;
  background-color: $gray-96;

}

// Typography ---------------------/
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $black;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}
@media (min-width: $sm) {
  .title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

// Animations --------------------/
@keyframes added-anim {
  from {
    background-position: center -50%, 0 100%;
  }
  to {
    background-position: center 50%, 0 0%;
  }
}
@keyframes cart-active-anim {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// Components ---------------------/


// ----- Listing ------------------/
.listing-list {
  padding-left: 0;
  list-style: none;
}
.listing-item {
  background-color: $white;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    cursor: url(/images/cursor.png), auto;
  }
  figure {
    width: 54px;
    height: 40px;
    margin-right: 13px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.listing-details {
  h2 {
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 2px;
  }
  p {
    color: $gray-55;
    font-size: 13px;
    line-height: 17px;
  }
}
@media (min-width: $sm) {
  .listing-item {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    figure {
      width: 84px;
      height: 62px;
      margin-right: 19px;
    }
  }
  .listing-details {
    h2 {
      font-size: 20px;
      line-height: 20px;
    }
    p {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
@media (min-width: $md) {
  .listing-list {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 0;

    > li {
      display: inline-block;
      width: 50%;
    }
  }
  .listing-item {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.add-btn {
  width: 90px;
  height: 40px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-left: auto;
  border: $gray-85 solid 1px;
  background-repeat: no-repeat;
  background-size: auto, 100% 200%;
  background-position: center -50%, 0 100%;
  background-color: $white;

  transition: background-position 0.5s linear;

  &:hover {
    background-color: $action-blue;
    cursor: url(/images/cursor.png), auto;

    .add-btn-bg {
      background-image: url(/images/cart_white.svg);
      color: $white;
    }
  }
  &:active {
    cursor: url(/images/cursor_click.png), auto;
  }

  &.added {
    animation: added-anim 0.25s linear;
    animation-fill-mode: forwards;
    background-image: url(/images/check.svg),
                      linear-gradient(0deg, $action-blue 50%, $gray-63 50%);

    .add-btn-bg {
      background-image: url(/images/cart_white.svg);
      color: $white;
      opacity: 0;
    }
    .add-btn-ellipse {
      top: 50px;
    }
  }
}
.add-btn-bg {
  font-weight: 700;
  padding: 13px 22px 10px 42px;
  background: url(/images/cart_blue.svg) no-repeat 22px center;
  color: $action-blue;
  white-space: nowrap;
  user-select: none;
  opacity: 1;
  transition: opacity 0.25s ease-in;
}
.add-btn-ellipse {
  position: absolute;
  top: -50px;
  left: -26px;
  width: 140px;
  height: 50px;
  border-radius: 50%;
  background-color: $aqua;
  z-index: 1;
  transition: top 0.5s linear;
}

// ----- Shopping Cart ------------------/
.nav-cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#cart {
  display: block;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  background: $action-blue url(/images/cart_white.svg) no-repeat center / 40%;
  border-radius: 50%;
  opacity: 0;

  &.active {
    animation: cart-active-anim 0.75s ease-in;
    animation-fill-mode: forwards;
  }
}
.cart-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  float: right;
  width: 24px;
  height: 24px;
  background-color: $aqua;
  color: black;
  font-size: 14px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.3s ease-in;

  &.cart-pop {
    transform: scale(2);
  }
}